{% extends 'base.html.twig' %}

{% block title %}PIC - Mes villes{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/city.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;600&display=swap">
{% endblock %}

{% block body %}
<section>
    <section class="cities">
        <h1>Mes villes</h1>

        {% if userCities %}
            {% for city in userCities %}
                <div class="city">
                    <div>
                        <a href="{{ path('city', {'city': city.id}) }}"><h2>{{ city.name }}</h2></a>
                        <p>{{ city.country }}</p>
                    </div>
                    <svg viewBox="0 0 512 512">
                        <a href="{{ path('unsubscribe', {'city': city.id}) }}">
                            <path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0"/>
                            <path d="m385.75 201.75-138.667969 138.664062c-4.160156 4.160157-9.621093 6.253907-15.082031 6.253907s-10.921875-2.09375-15.082031-6.253907l-69.332031-69.332031c-8.34375-8.339843-8.34375-21.824219 0-30.164062 8.339843-8.34375 21.820312-8.34375 30.164062 0l54.25 54.25 123.585938-123.582031c8.339843-8.34375 21.820312-8.34375 30.164062 0 8.339844 8.339843 8.339844 21.820312 0 30.164062zm0 0"/>
                        </a>
                    </svg>
                </div>
            {% endfor %}
        {% else %}

            <p class="nocity">Vous n'avez adhéré à aucune ville.</p>
        {% endif %}

        <h1>Suivre d'autres villes</h1>

        {% if userSuggestions %}
            {% for city in userSuggestions %}
                <div class="city">
                    <div>
                        <a href="{{ path('city', {'city': city.id}) }}"><h2>{{ city.name }}</h2></a>
                        <p>{{ city.country }}</p>
                    </div>
                    <svg viewBox="0 0 512 512">
                        <a href="{{ path('subscribe', {'city': city.id}) }}">
                            <path d="m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0"/>
                            <path d="m368 277.332031h-90.667969v90.667969c0 11.777344-9.554687 21.332031-21.332031 21.332031s-21.332031-9.554687-21.332031-21.332031v-90.667969h-90.667969c-11.777344 0-21.332031-9.554687-21.332031-21.332031s9.554687-21.332031 21.332031-21.332031h90.667969v-90.667969c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v90.667969h90.667969c11.777344 0 21.332031 9.554687 21.332031 21.332031s-9.554687 21.332031-21.332031 21.332031zm0 0"/>
                        </a>
                    </svg>
                </div>
            {% endfor %}
        {% else %}
            Vous adhérez déjà à toutes les villes disponibles !
        {% endif %}
    </section>
{% endblock %}